body {
  
    background-color: black;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    text-align: center;

}
.movie-btn2 {
    background-color: limegreen;
    border-radius: 5px;
    color: black;
}
h1 {
    font-size: 75px;
    color: limegreen;
}
.instructions {
    font-size: 25px;
}
#pick {
    color: limegreen;
    font-size: 30px;
}
.movie-btn {
    background-color: limegreen;
    border-radius: 5px;
    color: black;
}